.context {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 270px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    backdrop-filter: blur(10px);
    background: #00000057;
    font-size: 9pt;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #0000004a;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.context .item {
    padding: 6px 19px;
    cursor: default;
    color: inherit;
}

.context .item:hover {
    background: #00000029;
}

.context .item:hover .hotkey {
    color: #fff;
}

.context .disabled {
    color: #878B90;
}

.context .disabled:hover {
    background: inherit;
}

.context .disabled:hover .hotkey {
    color: #878B90;
}

.context .separator {
    margin: 4px 0px;
    height: 0;
    padding: 0;
    border-top: 1px solid #454545;
}

.hotkey {
    color: #878B90;
    float: right;
}