#Root {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-row: 2 / 8;
    grid-template-rows: 90% 10%;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../images/desktop/background_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#Root > .screenshot {
    position: absolute;
    transition: all 0.1s;
    height: min-content;
    display: flex;
}

#Root > .screenshot > .screenshot {
    width: inherit;
    height: 125px;
    margin: 10px;
    border-radius: 5px;
    background: #00000033;
    backdrop-filter: blur(5px);
}